<!DOCTYPE html>
<html>
<head>
#parse("/head.vm")
<title>产品列表</title>
</head>
<body>
    #parse("/navbar.vm")

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                #parse("/menu.vm")
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="page-header">产品列表</h2>
                <div class="row">
                    <a class="btn btn-primary" style="margin: 0 0 15px 15px;" href="/beauty/product/add">添加产品</a>
                </div>
                <div class="row">
                    #foreach($product in $products)
                    <div class="col-sm-4 col-md-3">
                        <div class="thumbnail">
                            <a href="/beauty/product/$product.id" title="点击查看产品详情">
                            <img src="$product.imgUrl" alt="$product.name">
                            </a>
                            <div class="caption">
                                <h4>$product.name</h4>
                                <p>$product.brand</p>
                            </div>
                        </div>
                    </div>
                    #end
                </div>
            </div>
        </div>
    </div>

    #parse("/footer.vm")
</body>
</html>