<!DOCTYPE html>
<html>
<head>
#parse("/head.vm")
<title>项目管理</title>
</head>
<body>
    #parse("/navbar.vm")

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                #parse("/menu.vm")
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="page-header">项目管理</h2>
                <div class="row">
                    <a class="btn btn-primary" href="/beauty/deal/add">添加项目</a>
                </div>
                <div class="row">
                    #foreach($deal in $deals)
                    <div class="col-sm-4 col-md-3">
                        <div class="thumbnail">
                            <a href="/beauty/deal/$deal.id" title="点击查看项目详情">
                            <img src="$deal.imgUrl" alt="$deal.title">
                            </a>
                            <div class="caption">
                                <h4>$deal.title</h4>
                                <p>$deal.description</p>
                            </div>
                        </div>
                    </div>
                    #end
                </div>
            </div>
        </div>
    </div>

    #parse("/footer.vm")
</body>
</html>