<div id="addproduct" class="container hide"
    style="width: 600px; position: absolute; background-color: #FFF; box-shadow: 0 0 10px #CCC; padding-top: 15px;">
    <div class="row form-group">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="pkw" placeholder="关键词" required="required">
        </div>
        <div class="col-sm-3">
            <button type="button" id="btn_productquery" class="btn btn-primary">查询</button>
        </div>
    </div>
    <div class="row" id="productlist">
    </div>
</div>
<script type="text/javascript">
    function showAddProduct() {
        var jproduct = jQuery('#addproduct');
        jproduct.removeClass('hide');
        jproduct.css({
            'top' : (jQuery(window).height() - 400) / 2 + jQuery(window).scrollTop(),
            'left' : (jQuery(window).width() - 400) / 2,
        });
        
        var template = '<div class="col-sm-3 col-md-2"><div class="thumbnail"><img src=""><div class="caption"><p></p><input type="checkbox"></div></div></div>';
        var jProductList = jQuery('#productlist');
        ajaxGet('/beauty/products/query', ['pkw'], function(data, status,jqXHR) {
            jProductList.empty();
            if (data.products) {
                jQuery.each(data.products, function(i, product) {
                    var jTemplate = jQuery(template);
                    jTemplate.find('img').attr('src', product.imgUrl).end().find('p').text(product.name);
                    console.log(jTemplate);
                    jProductList.append(jTemplate);
                });
            }
        }, function(jqXHR, status, e) {
            
        });
        
        jQuery('#productCancel').click(function() {
            jproduct.addClass('hide');
        });

        var productTemplate = [ '<div class="col-sm-3 col-md-2">', '<div class="thumbnail">', '<img src="">', '<div class="caption">', '<h4></h4>', '<p>',
                '<a href="#" class="btn btn-default btn-sm" role="edit">修改</a>',
                '<a href="#" class="btn btn-default btn-sm" role="del">删除</a>', '</p>', '</div>', '</div>', '</div>' ]
                .join('\n');
        
    }
</script>